{% extends 'base.html' %}
{% block title %}View{% endblock %}
{% block menu %}

     <li><a href="{% url 'choice_create' poll.pk %}">Create Choice</a></li>
{% endblock %}
{% block content %}
    <h1>Detailed poll page</h1>
    <p><b>Question:</b> {{ poll.question}}</p>
     <p><b>Question id:</b> {{ poll.pk }}</p>
    <p><b>Created_at:</b>{{ poll.created_at }}</p>
    <p><b>Updated at:</b> {{ poll.updated_at }}</p>

    <p><a href="{% url 'poll_update' poll.pk %}"  class="btn btn-warning">Update</a></p>
    <p><a href="{% url 'poll_delete' poll.pk %}" class="btn btn-danger">Delete</a></p>
     <p><a href="{% url 'select_answer' poll.pk %}" class="btn btn-success">Дать ответ</a></p>
     <hr>
        <h3>Answers</h3>
        {% for choice in choices %}
            <div class="box">
                 <h4>{{ choice.pk }}.{{ choice.choice_text }}</h4>
             <p><a href="{% url 'choice_update' choice.pk %}"  class="btn btn-warning">Update</a></p>
            <p><a href="{% url 'choice_delete' choice.pk %}" class="btn btn-danger">Delete</a></p>
            </div>
        {% empty %}
            <p>Нет вариантов</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
      </div>
{% endblock %}